<section class="get-started" id="get-started">
    <div class="container">
      <h2 class="section-title"><span class="tertiary">{{fields.title}}</span></h2>
      <p class="get-started-text">{{fields.text}}</p>
      <div class="buttons">
        <a href="{{fields.primary_button.url}}" class="button tertiary">{{fields.primary_button.title}} <ion-icon name="arrow-forward-outline"></ion-icon></a>
        <a href="{{fields.secondary_button.url}}" class="button button-text tertiary">{{fields.secondary_button.title}} <ion-icon name="arrow-forward-outline"></ion-icon></a>
      </div>
    </div>
  </section>